body{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.row{
	display: flex;
	flex-direction: row;
	width: 30vw;
	height: 5vh;
	margin: 2px;
	justify-content: center;
}

.key{
	display: flex;
	width: 8%;
	height: 90%;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	border: 2px solid black;
	margin: 5px;
}

.submit{
	display: flex;
	border: 2px solid black;
	width: 100%;
	height: 90%;
	align-items: center;
	justify-content: center;
}

#display{
	height: 30vh;
	width: 40vw;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
}

#space{
	display: flex;
	height: 90%;
	width: 40%;
	border: 2px solid black;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

#preview{
	border: 2px solid black;
	width: 60%;
	height: 90%;
}

#submitRow{
    width: 40vw;
	display: flex;
	justify-content: space-between;
}

#shiftDiv{
    display: flex;
    flex-direction: row;
}

.key:hover{
	border: 2px solid blue;
	color: blue;
}

.submit:hover{
	border: 2px solid blue;
	color: blue;
}

#space:hover{
	border: 2px solid blue;
	color: blue;
}

